* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #0d0d0d;
  color: white;
}

.console-wrapper {
  background: #0d0d0d;
  color: white;
  border: 1px solid #fff2ff1b;
  margin: 30px;
  border-radius: 2px;
  height: 300px;
  overflow-y: auto;
  font-size: 1.4em;
  font-family: monospace;
  padding: 10px 0 0;
}

textarea.console-input {
  background: none;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  caret-color: #fff2ff68;
  width: 100%;
  resize: none;
  overflow: hidden;
  margin: 0;
  font-size: inherit;
}

.input-wrapper,
.console-history > * {
  padding: 8px 20px;
  border-bottom: 1px solid #fff2ff0a;
}

.console-history > *::before,
.input-wrapper::before {
  letter-spacing: -4px;
  font-weight: bold;
  width: 20px;
  display: inline-block;
}

.console-history .console-input::before,
.input-wrapper::before {
  content: ">  ";
  color: rgb(232, 103, 236);
}

.console-history .console-output::before {
  content: "<-  ";
  color: rgb(255, 225, 152);
}

.input-wrapper {
  display: flex;
}
